:root {
    --cell_size: 38px;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

table {
    border-collapse: collapse;
}

td {
    border: 0.5px solid;
    width: var(--cell_size);
    height: var(--cell_size);
    text-align: center;
    background-color: gray;
    cursor: default;
    padding: 0px;
}

.mine_cnt {
    background-color: lightgray;
}

.flagged {
    background-color: lightcoral;
}

.mine {
    background-color: black;
}

nav ol {
    height: 200px;
    width: 18%;
}
nav ol {
    overflow: hidden;
    overflow-y: scroll;
}

#game {
    width: fit-content;
    margin: auto;
}

#game_result {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#btnStart {
    margin-top: 10px;
}

#btnHint {
    border: 1px solid darkcyan;
    background-color: aquamarine;
    border-radius: 5px;
    padding: 2px 8px;
}

#btnHint:hover {
    background-color: mediumaquamarine;
}

#btnHint:active {
    background-color: darkcyan;
}

#settings {
    width: fit-content;
    margin: auto;
}

#infobar {
    position: relative;
    height: 25px;
    margin: 10px 0px;
}

#mine_counter, #btnHint, #timer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#mine_counter {
    left: 0;
}

#btnHint {
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer {
    right: 0;
}